.idea
.vscode
.vs
bin
obj
build
HitsoundTweaqs.qmod
logcat.log
tombstone*
extern/
qpm-rust
qpm.shared.json
qpm.exe
ndkpath.txt
extern.cmake
qpm_defines.cmake
ndkpath.txt
*.log
log.txt
cmake-build-debug/
